# Ignore all virtual environments
**/venv/
**/.venv/
**/env/
**/.env

# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter checkpoints (if using notebooks)
.ipynb_checkpoints/

# IDE/editor config files
.vscode/
.idea/

# Ignore Prometheus binaries
/prometheus/prometheus
/prometheus/promtool
/prometheus/console_libraries/
/prometheus/consoles/

# OS files
.DS_Store
Thumbs.db

# Ignore all large binaries or temp files
*.tar.gz
*.zip
*.log
*.db
